@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
}

a{
  display: block;
}

input {
  outline: none;
}

li{
  cursor: pointer;
}

.textos{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.textos p {
  line-height: 1.6;
}

.titulo_main {
  line-height: 1.2;
}

.container_main{
  height: 550px;
}

.bg-main{
  background-color: #290742;
}

.text_col{
  color: #290742;
  font-size: 1.6rem;
}