@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
}

a{
  display: block;
}

input {
  outline: none;
}

li{
  cursor: pointer;
}

.textos{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}